<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">
    <update id="updateStockByOrdersGoods" parameterType="ordersGoods">
        UPDATE goods SET stock=stock-#{count} WHERE stock-#{count}>=0 AND id=#{gid}
    </update>
    <resultMap id="GoodsResult" type="Goods">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="img" column="img"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="store" column="store"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
        <association property="goodsSeckill" javaType="GoodsSeckill">
            <id property="gsId" column="gsId"/>
            <result property="gid" column="gid"/>
            <result property="startDate" column="start_date"/>
            <result property="endDate" column="end_date"/>
            <result property="version" column="version"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="GoodsResult">
        SELECT * , gs.id gsId FROM goods g, goods_seckill gs
        WHERE g.id=gs.gid
    </select>
    <select id="like" parameterType="String" resultMap="GoodsResult">
        SELECT * FROM goods g, goods_seckill gs
        WHERE g.id=gs.gid
        AND name like concat('%', #{name}, '%')
    </select>
</mapper>
