<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">
    <select id="selectAll" resultType="Goods">
        SELECT * FROM goods
    </select>

    <select id="findByName" resultType="Goods">
        SELECT * FROM goods WHERE name=#{name}
    </select>

    <select id="findById" resultType="Goods">
        SELECT * FROM goods WHERE id=#{id}
    </select>

    <insert id="add" parameterType="Goods">
        INSERT INTO goods(name, img, detail, price, stock) VALUES(
        #{name}, #{img}, #{detail}, #{price}, #{stock}
        )
    </insert>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM goods WHERE id=#{id}
    </delete>

    <update id="updateById" parameterType="Goods">
        UPDATE goods SET name=#{name},
        img=#{img}, price=#{price}, stock=#{stock}
        WHERE id=#{id}
    </update>

    <select id="findByNameLike" parameterType="String" resultType="Goods">
        SELECT * FROM goods WHERE name LIKE concat('%', #{name}, '%')
    </select>
</mapper>