<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersGoodsMapper">
    <insert id="insert" parameterType="OrdersGoods">
        INSERT INTO orders_goods(oid, gid, count) VALUES(#{oid}, #{gid}, #{count})
    </insert>
    <select id="selectAll" resultType="OrdersInfo">
        SELECT u.username, o.number, o.create_date, g.name, g.price, g.img, g.store, og.count
        FROM user u, orders o, goods g, orders_goods og
        WHERE u.id=o.uid AND o.id=og.oid AND g.id=og.gid
        GROUP BY g.id
    </select>
</mapper>