<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersMapper">
    <delete id="deleteBatchUid" parameterType="List">
        DELETE FROM orders WHERE uid IN
        <foreach collection="list" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>
    <delete id="deleteOrdersGoods" parameterType="Integer">
        DELETE FROM orders_goods WHERE oid=#{oid}
    </delete>
    <delete id="deleteBatchOrdersGoods" parameterType="List">
        DELETE FROM orders_goods WHERE oid IN
        <foreach collection="list" item="oid" open="(" separator="," close=")">
            #{oid}
        </foreach>
    </delete>
    <select id="selectBatchUId" parameterType="Integer" resultType="Orders">
        SELECT * FROM orders WHERE uid IN
        <foreach collection="list" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </select>
    <update id="updateGoods" parameterType="OrdersGoods">
        UPDATE goods SET stock=stock-#{count} WHERE id=#{gid} AND stock-#{count}>=0
    </update>
    <select id="selectOrdersCount" resultType="int">
        SELECT count(id) FROM orders
    </select>

    <select id="selectSalesType" resultType="SalesType">
        SELECT type name, count(0) value
        FROM goods g, orders_goods og
        WHERE g.id=og.gid
        GROUP BY type
    </select>
    <select id="selectSales" resultType="double">
        SELECT SUM(ROUND(price*discounts, 2)) FROM orders o, goods g, orders_goods og
        WHERE g.id=og.gid AND o.id=og.oid
    </select>
</mapper>
