<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersGoodsMapper">
    <delete id="deleteOrderGoods" parameterType="Integer">
        DELETE FROM orders_goods WHERE gid=#{gid}
    </delete>
    <delete id="deleteBatchOrderGoods" parameterType="List">
        DELETE FROM orders_goods WHERE gid IN
        <foreach collection="list" item="gid" open="(" separator="," close=")">
            #{gid}
        </foreach>
    </delete>
    <insert id="insert" parameterType="OrdersGoods">
        INSERT INTO orders_goods(oid, gid, count) VALUES(#{oid}, #{gid}, #{count})
    </insert>
    <select id="selectAll" resultType="OrdersInfo">
        SELECT og.id, u.username, o.number, og.oid, o.status, o.create_date, g.name, g.price, g.img, g.store, og.count, gs.start_date, gs.end_date, o.discounts,  u.phone
        FROM user u, orders o, goods g, orders_goods og, goods_seckill gs
        WHERE u.id=o.uid AND o.id=og.oid AND g.id=og.gid AND g.id=gs.gid
        GROUP BY og.id
    </select>
    <select id="like" resultType="OrdersInfo">
        SELECT og.id, og.oid, u.username, o.number, o.status, o.create_date, g.name, g.price, g.img, g.store, og.count, gs.start_date, gs.end_date, o.discounts,  u.phone
        FROM user u, orders o, goods g, orders_goods og, goods_seckill gs
        WHERE u.id=o.uid AND o.id=og.oid AND g.id=og.gid AND g.id=gs.gid
        <if test="name != null and name != ''">
            AND g.name LIKE concat('%', #{name}, '%')
        </if>
        <if test="number != null and number !=''">
            AND o.number LIKE concat('%', #{number}, '%')
        </if>
        GROUP BY og.id
    </select>
    <select id="selectCountByGid" resultType="int">
        SELECT count(0) FROM orders_goods og,goods g, goods_seckill gs, orders o
        WHERE g.id=gs.gid AND g.id=og.gid AND o.id=og.oid
        AND g.id=#{gid} AND gs.start_date&lt;=o.create_date AND  o.create_date&lt;=gs.end_date
    </select>
    <select id="likeNumber" resultType="String">
        SELECT o.number FROM goods g, orders_goods og, orders o
        WHERE g.id=og.gid AND o.id=og.oid
        <if test="name !=null and name != ''">
            AND g.name LIKE concat('%', #{name}, '%')
        </if>
        <if test="number !=null and number !=''">
            AND o.number LIKE concat('%', #{number}, '%')
        </if>
        GROUP BY o.number LIMIT 10
    </select>
    <select id="likeName" parameterType="String" resultType="String">
        SELECT name FROM goods g, orders_goods og
        WHERE g.id=og.gid
        AND name LIKE concat('%', #{name}, '%')
        GROUP BY name LIMIT 10
    </select>

    <select id="selectBuyCount" resultType="int">
        SELECT count(0) FROM orders o, orders_goods og
        WHERE o.id=og.oid
        AND og.gid=#{gid} AND o.uid=#{uid}
    </select>

    <select id="selectSales" parameterType="Integer" resultType="int">
        SELECT COALESCE(SUM(count), 0) FROM goods g, orders_goods og
        WHERE g.id=og.gid AND og.gid=#{gid}
    </select>
</mapper>